# General
.DS_Store
.env
.env.*
!/.env.example
*.log

**/node_modules
**/dist
**/build
**/coverage
**/logs
**/temp

# Docker
docker-compose.override.yml

# Secrets
secrets/*.txt
!secrets/*.example.txt

# Caddy
reverse_proxy/data